{% extends "layout.html"  %}

{% block content %}

<form action="/ForgetPassword" method="post" class="FORMREGISTER">
    {{ form.hidden_tag() }}
    <legend>Forget Password</legend>
 

    <div id="emailContent"~~ class="form-row form-group col-md-6">
        {{ form.email.label(class="Label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>
            {% else%}
            {{ form.email(class="form-control") }}
            {% endif%}
            
    </div>

   

    <button type="submit" class="btn btn-primary mt-4 ">Forget Password</button>

</form>



{% endblock %}
