{% extends "layout.html" %}

{% block content %}

<form action="/register" method="post" class="FORMREGISTER">
    {{ form.hidden_tag() }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.username .label(class="Label") }}
            {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.username(class="form-control", autocomplete="off") }}
            {% endif%}
        </div>

        <div class="form-group col-md-6">
            {{ form.email.label(class="Label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.email(class="form-control") }}
            {% endif%}
        </div>
    </div>

    <div class="form-group col-md-6">
        {{ form.gender.label(class="Label") }}
        {% if form.gender.errors %}
        {{ form.gender(class="form-control is-invalid", autocomplete="off") }}
        <div class="invalid-feedback">
            {% for error in form.gender.errors %}
            <span> {{ error }}</span>
            {% endfor%}
        </div>

        {% else%}
        {{ form.gender(class="form-control") }}
        {% endif%}
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.password.label(class="Label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.password(class="form-control") }}
            {% endif%}


            {{ form.confirmPassword.label(class="Label") }}
            {% if form.confirmPassword.errors %}
            {{ form.confirmPassword(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.confirmPassword.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.confirmPassword(class="form-control") }}
            {% endif%}
        </div>

    </div>

    <div class="form-group">
    </div>
    </div>
    <button type="submit" class="btn btn-primary ml-20 padding">Sign Up</button>
</form>

<div class="pt-3">
    <small class="text-muted right">
        Already Have an account? <a href="{{ url_for('login') }}">Sign in</a>
    </small>
</div>

{% endblock %}