{% extends "layout.html"  %}

{% block content %}

<form action="/reset" method="post" class="FORMREGISTER">
    {{ form.hidden_tag() }}
    <legend>Change Password</legend>
 

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.password.label(class="Label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.password(class="form-control") }}
            {% endif%}


            {{ form.confirmPassword.label(class="Label") }}
            {% if form.confirmPassword.errors %}
            {{ form.confirmPassword(class="form-control is-invalid", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.confirmPassword.errors %}
                <span> {{ error }}</span>
                {% endfor%}
            </div>

            {% else%}
            {{ form.confirmPassword(class="form-control") }}
            {% endif%}
        </div>

    </div>


   

    <button type="submit" class="btn btn-primary mt-4 ">Forget Password</button>

</form>



{% endblock %}
